{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      #header {
        height: 100px;
      }
      #footer {
        height: 100px;
      }
      form{
        position: relative;
        top: 50%;
      }
    </style>
  </head>
  <body link="blue" alink="navy" vlink="gray">
  <header id="header" >
  </header>
              <table border="1" width="800" height="200" class="table table-striped">
              	<tr><th>ホテル名</th><th>じゃらん</th><th>JTB</th><th>楽天</th></tr>
		<tr><td>{{a1.0}}</td><td id ="20"><a href="{{a2.0}}">料金一覧</a></td><td id ="30"><a href="{{a3.0}}">料金一覧</a></td><td id ="40"><a href="{{a4.0}}">料金一覧</a></td></tr>
                <tr><td>{{a1.1}}</td><td id ="21"><a href="{{a2.1}}">料金一覧</a></td><td id ="31"><a href="{{a3.1}}">料金一覧</a></td><td id ="41"><a href="{{a4.1}}">料金一覧</a></td></tr>
                <tr><td>{{a1.2}}</td><td id ="22"><a href="{{a2.2}}">料金一覧</a></td><td id ="32"><a href="{{a3.2}}">料金一覧</a></td><td id="42">ka</td></tr>
              	<tr><td>{{a1.3}}</td><td id ="23"><a href="{{a2.3}}">料金一覧</a></td><td id="33"><a href="{{a3.3}}">料金一覧</a></td><td id="43"><a href="{{a4.3}}">料金一覧</a></td></tr>
              	<tr><td>{{a1.4}}</td><td id ="24"><a href="{{a2.4}}">料金一覧</a></td><td id ="34"><a href="{{a3.4}}">料金一覧</a></td><td id ="44"><a href="{{a4.4}}">料金一覧</a></td></tr>
              </table>
  <script>
        var a;
        var b;
        var c;
	for (var x =2; x<5; x++){
		for (var y =0; y<5; y++){
			w = x.toString(10)+y.toString(10);
			z = "a"+x+"."+y;
			(x==2 &&y==0)?b="{{a2.0}}":(x==2 &&y==1)?b="{{a2.1}}":(x==2 && y==2)?b="{{a2.2}}":(x==2 &&y==3)?b="{{a2.3}}":(x==2 &&y==4)?b="{{a2.4}}":(x==3 &&y==0)?b="{{a3.0}}":(x==3 &&y==1)?b="{{a3.1}}":(x==3 && y==2)?b="{{a3.2}}":(x==3 &&y==3)?b="{{a3.3}}":(x==3 &&y==4)?b="{{a3.4}}":(x==4 &&y==0)?b="{{a4.0}}":(x==4 &&y==1)?b="{{a4.1}}":(x==4 && y==2)?b="{{a4.2}}":(x==4 &&y==3)?b="{{a4.3}}":b="{{a4.4}}";
			c = new String(b);
			a = document.getElementById(w);
        		if (b!=="1"){
        			a.innerHTML ="<a href="+b+">料金一覧<"+"/a>";
        		}
        		else {
        			a.innerHTML = "検索対象なし";
        		}
		}
	}
 </script>
  </div>
  <footer id="footer">
  </footer>
  </body>
</html>
