{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      #header {
        height: 100px;
      }
      #footer {
        height: 100px;
      }
      form{
        position: relative;
        top: 50%;
      }
    </style>
  </head>
  <body link="blue" alink="navy" vlink="gray">
  <header id="header" >
  </header>
              <table border="1" width="800" height="200" class="table table-striped">
              	<tr><th>ホテル名</th><th>じゃらん</th><th>JTB</th><th>楽天</th></tr>
		<tr><td>{{a1.0}}</td><td id ="20"><a href="{{a2.0}}">料金一覧</a></td><td id ="30"><a href="{{a3.0}}">料金一覧</a></td><td id ="40"><a href="{{a4.0}}">料金一覧</a></td></tr>
                <tr><td>{{a1.1}}</td><td id ="21"><a href="{{a2.1}}">料金一覧</a></td><td id ="31"><a href="{{a3.1}}">料金一覧</a></td><td id ="41"><a href="{{a4.1}}">料金一覧</a></td></tr>
                <tr><td>{{a1.2}}</td><td id ="22"><a href="{{a2.2}}">料金一覧</a></td><td id ="32"><a href="{{a3.2}}">料金一覧</a></td><td id="42">ka</td></tr>
              	<tr><td>{{a1.3}}</td><td id ="23"><a href="{{a2.3}}">料金一覧</a></td><td id="33"><a href="{{a3.3}}">料金一覧</a></td><td id="43"><a href="{{a4.3}}">料金一覧</a></td></tr>
              	<tr><td>{{a1.4}}</td><td id ="24"><a href="{{a2.4}}">料金一覧</a></td><td id ="34"><a href="{{a3.4}}">料金一覧</a></td><td id ="44"><a href="{{a4.4}}">料金一覧</a></td></tr>
              </table>
  <script>
        var a;
        var b;
        var c;
	for (var x =2; x<5; x++){
		for (var y =0; y<5; y++){
			w = x.toString(10)+y.toString(10)
			z = "a"+x+"."+y
			a = document.getElementById(w);
        		b = "{"+"{"+z+"}"+"}"
        		c = new String(b);
        		if (b ===c) {
        			a.innerHTML ="<a href={{z}}>料金一覧<"+"/a>";
        		}
        		else {
        			a.innerHTML = "検索対象なし";
        		}
		}
	}
 </script>
  </div>
  <footer id="footer">
  </footer>
  </body>
</html>
